![sql](img/sql-logo.jpg)

# A beginner's guide to databases, SQL, & using them with `pandas`

**Scenario:** You are a data analyst for the Homeland Security, trying to create reports on the active airports world wide. The data you need to access is in a SQL database. YOu need to be able to query for the data in a database!

## Learning goals:
- Goal 1: Summarize the use case for sql in the data science skill set
- Goal 2: Define key sql terminology
- Goal 3: Get information about DB schema and table structure
- Goal 4: Use basic SQL commands:
    - Construct SQL queries
    - Use JOIN to merge tables along logical columns
    - Grouping Data with SQL
- Goal 5: Query data from pandas dataframes using SQL
- Goal 6: Convert SQL to pandas

## Goal 1: Summarize

[Netflix has a great article](https://medium.com/netflix-techblog/notebook-innovation-591ee3221233) describing three different data roles at their company, their different needs, and their toolsets.

![netflix](img/netflix-data-roles.jpeg)

Examining that graphic, SQL shows up as one of the tools of the _Data Engineer_

Data Engineers provide the essential data architecture services that make data science possible.

![hierarchy](img/ai-hierachy.png)

[Source: Monica Rogati’s fantastic Medium post “The AI Hierarchy of Needs”
](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

![etl](img/etl.png)

[img source: Jeff Hammerbacher’s slide from UC Berkeley CS 194 course ](https://bcourses.berkeley.edu/courses/1377158/pages/cs-194-16-introduction-to-data-science-fall-2015)

### What is a Relational Database? 

![rdb](img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

***
## Goal 2: Database terminology

### Relational Database Schema

![schema](img/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)

### Table columns view
![table example](img/columns.png)

### Terminology

- Schema
- Primary Key
- Foreign Key
- Structured queries
- Views

***
### SQLite

![sqlite](img/SQLite-Python.jpg)

"SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. Some applications can use SQLite for internal data storage. It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle." - [sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## But what about connecting to database servers?

To connect to an Oracle database server there is a different package, `cx_Oracle`. The documentation for that package is [here](https://oracle.github.io/python-cx_Oracle/)

***
## Goal 3: Get going with sqlite!

In [3]:
import sqlite3

In [4]:
!ls -la

total 6704
drwxr-xr-x 1 kwaku 197609       0 Aug  1 12:51 .
drwxr-xr-x 1 kwaku 197609       0 Aug  1 09:34 ..
drwxr-xr-x 1 kwaku 197609       0 Aug  1 12:33 .ipynb_checkpoints
-rw-r--r-- 1 kwaku 197609 1067008 Aug  1 09:34 Chinook_Sqlite.sqlite
-rw-r--r-- 1 kwaku 197609 5415936 Aug  1 09:34 flights.db
drwxr-xr-x 1 kwaku 197609       0 Aug  1 09:34 img
-rw-r--r-- 1 kwaku 197609   23081 Aug  1 12:33 sql-to-pandas.ipynb
-rw-r--r-- 1 kwaku 197609  331930 Aug  1 09:34 sql-to-pandas.slides.html
-rw-r--r-- 1 kwaku 197609    5346 Aug  1 12:51 Try SQL.ipynb

#### Load a DB object with `connect` and `cursor`

In [5]:
con = sqlite3.connect('flights.db')
cursor =con.cursor()

In [6]:
con = sqlite3.connect('flights.db')
cursor = con.cursor() # intermediary for passing query to this connection... rls btn dabase n the python

#### Use sqlite_master to find all the tables in the schema
Get the schema of a database from a db in sqlite

In [7]:
cursor.execute("SELECT name FROM sqlite_master WHERE type= 'table'")

print (cursor.fetchall())

[('airports',), ('airlines',), ('routes',)]

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall()) 

# shows the tables in the server or dabtabase
#the dabtabse shd give us the metadata

In [ ]:
print(cursor.fetchall())   #Nfetchalll gives the results of the query

In [8]:
cursor.description

(('name', None, None, None, None, None, None),)

#### Get information about one table

**A note about** `execute`<br>
Each time you use it, you reset the value of cursor

In [ ]:
cursor.execute("SELECT name,type FROM sqlite_master;")
print(cursor.fetchall())

In [ ]:
cursor.execute("SELECT * FROM airports")

In [10]:
cursor.execute("SELECT * FROM airports").fetchone() # as a means as airports

(0,
 '1',
 'Goroka',
 'Goroka',
 'Papua New Guinea',
 'GKA',
 'AYGA',
 '-6.081689',
 '145.391881',
 '5282',
 '10',
 'U',
 'Pacific/Port_Moresby')

In [ ]:
cursor.fetchone() # fetchone is showing results

In [ ]:
cursor.fetchmany(4) # fetchone is showing results

#### Use description

In [ ]:
cursor.description  #gives name of each colum

#### Or use `Pragma`
`Pragma` tool [link here](https://www.sqlite.org/pragma.html#pragma_table_info)

**output**<br>
`(column id, column name, data type, whether or not the column can be NULL, and the default value for the column)`

In [ ]:
cursor.execute("PRAGMA table_info(airports)")
info = cursor.fetchall()
print(*info, sep = "\n")

#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`

**Task:** Get the descriptive data for airlines and routes tables

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

In [ ]:
#cursor.execute("SELECT name,type FROM sqlite_master;")
#print(cursor.fetchall())

In [ ]:
cursor.execute("SELECT * FROM routes").fetchone() # as a means as airports

In [ ]:
cursor.fetchmany(4)

In [ ]:
cursor.description  #gives name of each colum

In [ ]:
cursor.execute("PRAGMA table_info(routes)")
info = cursor.fetchall()
print(*info, sep = "\n")  # '\n' print into a new line

***
## Goal 4: Use basic SQL commands 
- Construct SQL queries
- Use JOIN to merge tables along logical columns
- Grouping Data with SQL

### Construct SQL queries

**Select**

Selects columns from a table

**From**

**Where**

**Order by**

**Limit**

#### Options for each:

**Select**:  `distinct`, using `as` to rename columns, single number aggregates

**From:** also uses aliasing with `as`

**Where**: equals is only one `=`, `between`, `in`, wildcards `%`, `AND`, `OR`, `NOT`

**Order by**: `asc` and `desc`

**Limit**:  #

In [ ]:
SELECT

**Task**: 
- Select only active airlines in the UK from the airlines table
- Select the unique list of countries with airports

In [11]:
cursor.execute("""SELECT distinct country FROM airlines""").fetchall()

[(None,),
 ('United States',),
 ('South Africa',),
 ('United Kingdom',),
 ('Russia',),
 ('Thailand',),
 ('Canada',),
 ('Australia',),
 ('Singapore',),
 ('Belgium',),
 ('Mexico',),
 ('Spain',),
 ('France',),
 ('United Arab Emirates',),
 ('Republic of Korea',),
 ('Pakistan',),
 ('Libya',),
 ('Gambia',),
 ('Ivory Coast',),
 ('Ukraine',),
 ('Democratic Republic of the Congo',),
 ('Iran',),
 ('Finland',),
 ('Brazil',),
 ('Colombia',),
 ('AEROCENTER',),
 ('Ghana',),
 ('Kenya',),
 ('Liberia',),
 ('Togo',),
 ('Somali Republic',),
 ('Morocco',),
 ('Canadian Territories',),
 ('Dominican Republic',),
 ('Japan',),
 ('Albania',),
 ('Nigeria',),
 ('Germany',),
 ('Slovenia',),
 ('Czech Republic',),
 ('Benin',),
 ('AEROCESAR',),
 ('Greece',),
 ('Chile',),
 ('Tanzania',),
 ('Bolivia',),
 ('Italy',),
 ('Sweden',),
 ('Argentina',),
 ('Sierra Leone',),
 ('Indonesia',),
 ('Senegal',),
 ('Afghanistan',),
 ('Uganda',),
 ('Bosnia and Herzegovina',),
 ('Gabon',),
 ('Angola',),
 ('Uzbekistan',),
 ('Namibia',),
 ('Turkey',),
 ('Vietnam',),
 ('Zambia',),
 ('Venezuela',),
 ('Egypt',),
 ('Ireland',),
 ('Switzerland',),
 ('Serbia',),
 ('Peru',),
 ('Slovakia',),
 ('Denmark',),
 ('Azerbaijan',),
 ('AIRPORT HELICOPTER',),
 ('Hong Kong',),
 ('Croatia',),
 ('Hungary',),
 ('Estonia',),
 ('Swaziland',),
 ('India',),
 ('Reunion',),
 ('Iceland',),
 ('Israel',),
 ('Austria',),
 ('Jamaica',),
 ('Malta',),
 ('Portugal',),
 ('Cyprus',),
 ('Kazakhstan',),
 ('Kyrgyzstan',),
 ('Turkmenistan',),
 ('Kiribati',),
 ('Cambodia',),
 ('Netherlands Antilles',),
 ('Sao Tome and Principe',),
 ('ALNACIONAL',),
 ('Lithuania',),
 ('Maldives',),
 ('Malawi',),
 ('Moldova',),
 ('Montenegro',),
 ('Macao',),
 ('Seychelles',),
 ('Bulgaria',),
 ('Papua New Guinea',),
 ('Latvia',),
 ('ANTARES',),
 ('AVINOR',),
 ('New Zealand',),
 ('ALCON',),
 ('ASTORIA',),
 ('COMPANY AS',),
 ('Philippines',),
 ('AIRPAC',),
 ('AIRFLIGHT',),
 ('ASA PESADA',),
 ('AIR PRINT',),
 ('APPALACHIAN',),
 ('ALASKA PACIFIC',),
 ('AEROPERLAS',),
 ('AEROPUMA',),
 ('ATCO',),
 ('AVIOQUINTANA',),
 ('Aruba',),
 (' S.A.',),
 ('ARMSTRONG',),
 ('Armenia',),
 ('AIREX',),
 ('Chad',),
 ('ALASKA',),
 ('SCHEFF',),
 ('AEROSUN',),
 ('ALL STAR',),
 ('AIR CLASS',),
 ('Nepal',),
 ('Sudan',),
 ('Panama',),
 ('Guinea-Bissau',),
 ('ATLANTIS CANADA',),
 ('Burkina Faso',),
 ('Netherlands',),
 ('Ecuador',),
 ('AUDI AIR',),
 ('Uruguay',),
 ('AURORA AIR',),
 ('AUSA',),
 ('AVIANCA',),
 ('ALAMO',),
 ('Djibouti',),
 ('AVEMEX',),
 ('Vanuatu',),
 ('AQUILINE',),
 ('ACTIVE AERO',),
 ('Bangladesh',),
 ('Georgia',),
 ('El Salvador',),
 ('AEROVARADERO',),
 ('AIRNAT',),
 ('Niger',),
 ('Jordan',),
 ('AIRWAVE',),
 ('AEROWEE',),
 ('AIR FREIGHTER',),
 ('Malaysia',),
 ('RENTAXEL',),
 ('Macedonia',),
 ('AIRMAN',),
 ('ATLANTIC NICARAGUA',),
 ('AZIMUT',),
 ('Zimbabwe',),
 ('ARIZAIR',),
 ('Lebanon',),
 ('Guatemala',),
 ('Bahrain',),
 ('Barbados',),
 ('Botswana',),
 ('French Polynesia',),
 ('Russian Federation',),
 ('China',),
 ('Belize',),
 ('Mozambique',),
 ('Marshall Islands',),
 ('Algeria',),
 ('Ethiopia',),
 ('Air S',),
 ('Fiji',),
 ('Mali',),
 ('Faroe Islands',),
 ('Mauritania',),
 ('Cameroon',),
 ('Guinea',),
 ('Belarus',),
 ('French Guiana',),
 ('Haiti',),
 ('Comoros',),
 ('Honduras',),
 ('Norway',),
 ('Myanmar',),
 ("Democratic People's Republic of Korea",),
 ('Mauritius',),
 ('Madagascar',),
 ('Mongolia',),
 ('Burundi',),
 ('Sri Lanka',),
 ('Romania',),
 ('Republic of the Congo',),
 ('Rwanda',),
 ('Nicaragua',),
 ('Turks and Caicos Islands',),
 ('S',),
 ('Bahamas',),
 ('Suriname',),
 ('Syrian Arab Republic',),
 ('AIR-MAUR',),
 ('Cape Verde',),
 ('Luxembourg',),
 ('Oman',),
 ('Antigua and Barbuda',),
 ('Trinidad and Tobago',),
 ('Hong Kong SAR of China',),
 ('Cayman Islands',),
 ('Central African Republic',),
 ('Democratic Republic of Congo',),
 ('Poland',),
 ('Taiwan',),
 ('ASUR',),
 ('Paraguay',),
 ('Cuba',),
 ('DRAGON',),
 ('Bhutan',),
 ('Equatorial Guinea',),
 ('UNIFORM OSCAR',),
 ('Russia]]',),
 ('Eritrea',),
 ('Tunisia',),
 ('Costa Rica',),
 ('Saint Lucia',),
 ('Monaco',),
 ('Solomon Islands',),
 ('ALDAWLYH AIR',),
 ('Iraq',),
 ('Kuwait',),
 ('ODINN',),
 ('LAP',),
 ('Lao Peoples Democratic Republic',),
 ('Bermuda',),
 ('WATCHDOG',),
 ('Montserrat',),
 ('Nauru',),
 ('Saudi Arabia',),
 ('Palau',),
 ('Tonga',),
 ('Samoa',),
 ('Qatar',),
 ('UNited Kingdom',),
 ('Netherland',),
 ('Guyana',),
 ('Cook Islands',),
 ('Brunei',),
 ('ACOM',),
 (' Boonville Stage Line',),
 ('Saint Vincent and the Grenadines',),
 ('SWISSBIRD',),
 ('Yemen',),
 ('Tajikistan',),
 ('AEROSOL',),
 ('Saint Kitts and Nevis',),
 ('VELES',),
 ("Cote d'Ivoire",),
 ('\\N',),
 ('Burma',),
 ('South Korea',),
 ('Guadeloupe',),
 ('Congo (Kinshasa)',),
 ('Syria',),
 ('American Samoa',),
 ('British Virgin Islands',),
 ('Puerto Rico',),
 ('Congo (Brazzaville)',)]

In [14]:
cursor.execute("""SELECT distinct country FROM airlines  order by country asc """).fetchall()

[(None,),
 (' Boonville Stage Line',),
 (' S.A.',),
 ('ACOM',),
 ('ACTIVE AERO',),
 ('AEROCENTER',),
 ('AEROCESAR',),
 ('AEROPERLAS',),
 ('AEROPUMA',),
 ('AEROSOL',),
 ('AEROSUN',),
 ('AEROVARADERO',),
 ('AEROWEE',),
 ('AIR CLASS',),
 ('AIR FREIGHTER',),
 ('AIR PRINT',),
 ('AIR-MAUR',),
 ('AIREX',),
 ('AIRFLIGHT',),
 ('AIRMAN',),
 ('AIRNAT',),
 ('AIRPAC',),
 ('AIRPORT HELICOPTER',),
 ('AIRWAVE',),
 ('ALAMO',),
 ('ALASKA',),
 ('ALASKA PACIFIC',),
 ('ALCON',),
 ('ALDAWLYH AIR',),
 ('ALL STAR',),
 ('ALNACIONAL',),
 ('ANTARES',),
 ('APPALACHIAN',),
 ('AQUILINE',),
 ('ARIZAIR',),
 ('ARMSTRONG',),
 ('ASA PESADA',),
 ('ASTORIA',),
 ('ASUR',),
 ('ATCO',),
 ('ATLANTIC NICARAGUA',),
 ('ATLANTIS CANADA',),
 ('AUDI AIR',),
 ('AURORA AIR',),
 ('AUSA',),
 ('AVEMEX',),
 ('AVIANCA',),
 ('AVINOR',),
 ('AVIOQUINTANA',),
 ('AZIMUT',),
 ('Afghanistan',),
 ('Air S',),
 ('Albania',),
 ('Algeria',),
 ('American Samoa',),
 ('Angola',),
 ('Antigua and Barbuda',),
 ('Argentina',),
 ('Armenia',),
 ('Aruba',),
 ('Australia',),
 ('Austria',),
 ('Azerbaijan',),
 ('Bahamas',),
 ('Bahrain',),
 ('Bangladesh',),
 ('Barbados',),
 ('Belarus',),
 ('Belgium',),
 ('Belize',),
 ('Benin',),
 ('Bermuda',),
 ('Bhutan',),
 ('Bolivia',),
 ('Bosnia and Herzegovina',),
 ('Botswana',),
 ('Brazil',),
 ('British Virgin Islands',),
 ('Brunei',),
 ('Bulgaria',),
 ('Burkina Faso',),
 ('Burma',),
 ('Burundi',),
 ('COMPANY AS',),
 ('Cambodia',),
 ('Cameroon',),
 ('Canada',),
 ('Canadian Territories',),
 ('Cape Verde',),
 ('Cayman Islands',),
 ('Central African Republic',),
 ('Chad',),
 ('Chile',),
 ('China',),
 ('Colombia',),
 ('Comoros',),
 ('Congo (Brazzaville)',),
 ('Congo (Kinshasa)',),
 ('Cook Islands',),
 ('Costa Rica',),
 ("Cote d'Ivoire",),
 ('Croatia',),
 ('Cuba',),
 ('Cyprus',),
 ('Czech Republic',),
 ('DRAGON',),
 ("Democratic People's Republic of Korea",),
 ('Democratic Republic of Congo',),
 ('Democratic Republic of the Congo',),
 ('Denmark',),
 ('Djibouti',),
 ('Dominican Republic',),
 ('Ecuador',),
 ('Egypt',),
 ('El Salvador',),
 ('Equatorial Guinea',),
 ('Eritrea',),
 ('Estonia',),
 ('Ethiopia',),
 ('Faroe Islands',),
 ('Fiji',),
 ('Finland',),
 ('France',),
 ('French Guiana',),
 ('French Polynesia',),
 ('Gabon',),
 ('Gambia',),
 ('Georgia',),
 ('Germany',),
 ('Ghana',),
 ('Greece',),
 ('Guadeloupe',),
 ('Guatemala',),
 ('Guinea',),
 ('Guinea-Bissau',),
 ('Guyana',),
 ('Haiti',),
 ('Honduras',),
 ('Hong Kong',),
 ('Hong Kong SAR of China',),
 ('Hungary',),
 ('Iceland',),
 ('India',),
 ('Indonesia',),
 ('Iran',),
 ('Iraq',),
 ('Ireland',),
 ('Israel',),
 ('Italy',),
 ('Ivory Coast',),
 ('Jamaica',),
 ('Japan',),
 ('Jordan',),
 ('Kazakhstan',),
 ('Kenya',),
 ('Kiribati',),
 ('Kuwait',),
 ('Kyrgyzstan',),
 ('LAP',),
 ('Lao Peoples Democratic Republic',),
 ('Latvia',),
 ('Lebanon',),
 ('Liberia',),
 ('Libya',),
 ('Lithuania',),
 ('Luxembourg',),
 ('Macao',),
 ('Macedonia',),
 ('Madagascar',),
 ('Malawi',),
 ('Malaysia',),
 ('Maldives',),
 ('Mali',),
 ('Malta',),
 ('Marshall Islands',),
 ('Mauritania',),
 ('Mauritius',),
 ('Mexico',),
 ('Moldova',),
 ('Monaco',),
 ('Mongolia',),
 ('Montenegro',),
 ('Montserrat',),
 ('Morocco',),
 ('Mozambique',),
 ('Myanmar',),
 ('Namibia',),
 ('Nauru',),
 ('Nepal',),
 ('Netherland',),
 ('Netherlands',),
 ('Netherlands Antilles',),
 ('New Zealand',),
 ('Nicaragua',),
 ('Niger',),
 ('Nigeria',),
 ('Norway',),
 ('ODINN',),
 ('Oman',),
 ('Pakistan',),
 ('Palau',),
 ('Panama',),
 ('Papua New Guinea',),
 ('Paraguay',),
 ('Peru',),
 ('Philippines',),
 ('Poland',),
 ('Portugal',),
 ('Puerto Rico',),
 ('Qatar',),
 ('RENTAXEL',),
 ('Republic of Korea',),
 ('Republic of the Congo',),
 ('Reunion',),
 ('Romania',),
 ('Russia',),
 ('Russia]]',),
 ('Russian Federation',),
 ('Rwanda',),
 ('S',),
 ('SCHEFF',),
 ('SWISSBIRD',),
 ('Saint Kitts and Nevis',),
 ('Saint Lucia',),
 ('Saint Vincent and the Grenadines',),
 ('Samoa',),
 ('Sao Tome and Principe',),
 ('Saudi Arabia',),
 ('Senegal',),
 ('Serbia',),
 ('Seychelles',),
 ('Sierra Leone',),
 ('Singapore',),
 ('Slovakia',),
 ('Slovenia',),
 ('Solomon Islands',),
 ('Somali Republic',),
 ('South Africa',),
 ('South Korea',),
 ('Spain',),
 ('Sri Lanka',),
 ('Sudan',),
 ('Suriname',),
 ('Swaziland',),
 ('Sweden',),
 ('Switzerland',),
 ('Syria',),
 ('Syrian Arab Republic',),
 ('Taiwan',),
 ('Tajikistan',),
 ('Tanzania',),
 ('Thailand',),
 ('Togo',),
 ('Tonga',),
 ('Trinidad and Tobago',),
 ('Tunisia',),
 ('Turkey',),
 ('Turkmenistan',),
 ('Turks and Caicos Islands',),
 ('UNIFORM OSCAR',),
 ('UNited Kingdom',),
 ('Uganda',),
 ('Ukraine',),
 ('United Arab Emirates',),
 ('United Kingdom',),
 ('United States',),
 ('Uruguay',),
 ('Uzbekistan',),
 ('VELES',),
 ('Vanuatu',),
 ('Venezuela',),
 ('Vietnam',),
 ('WATCHDOG',),
 ('Yemen',),
 ('Zambia',),
 ('Zimbabwe',),
 ('\\N',)]

In [ ]:
cursor.execute("""SELECT name FROM airlines  WHERE active ='Y' AND country= 'United Kingdom' """)

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

![venn](img/venn.png)

**Task** Write a query that will join the latitude and longitude data from the airports table to the information on the routes table

In [ ]:
cursor.execute("""SELECT * FROM airports""")

In [ ]:
cursor.execute("PRAGMA table_info(airports)")
info = cursor.fetchall()
print(*info, sep = "\n")

### Grouping statements

Combines `select` and `group by` when you want aggregates by values

`select` `min(x)` ... `max()`, `sum()`, etc

`group by x`

**Task**<br>
- Which countries have the highest amount of active airports?
- Which countries have the highest amount of inactive airports?
- What about airports by timezones?

## Goal 5: Using sql within pandas to filter

`.query()`

[query documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html)

In [ ]:
# Get data for an example
import pandas as pd
shelter_data=pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
shelter_data.dtypes

In [ ]:
max_data = shelter_data.query('Name == "Max"')
max_data.head()
#vs
shelter_data[shelter_data['Name']=="Max"]

In [ ]:
shelter_data.rename(index=str, columns={"Animal Type": "animal_type"}, inplace = True)
test = shelter_data.query('animal_type == "Dog"')
test.head()

## Goal 6: Transfering from sqlite to pandas forAnalysis

In [ ]:
conn = sqlite3.connect("flights.db")
df = pd.read_sql_query("SELECT distinct country FROM airline;", conn)
df

**Task**: 
Convert one of the earlier queries in the lesson to a pandas data frame

## Integration

The [Chinook database](https://github.com/lerocha/chinook-database) is a sample database, representing a digital media store.

You need to create a query that can rank tracks in term of popularity.

The name of the database is `Chinook_Sqlite.sqlite`

Database information:<br>
- How many tables are in the database?
- What's the primary key of each table?
- What foreign keys join the tables together?
- If you had to draw a schema of how the tables are connected, what would it look like?

To answer the question:<br>
- What are the max and min dates in the Invoice table?
- What tables would you need to answer "what is your most popular track?"
- What values from each table?

## Reflection