In [3]:
import sqlite3 # import sql liteb

In [5]:
import pandas as pd

In [4]:
!ls -la
# checking directory
#<alias ls for 'dir /on'>

total 6697
drwxr-xr-x 1 kwaku 197609       0 Aug  1 12:33 .
drwxr-xr-x 1 kwaku 197609       0 Aug  1 09:34 ..
drwxr-xr-x 1 kwaku 197609       0 Aug  1 12:33 .ipynb_checkpoints
-rw-r--r-- 1 kwaku 197609 1067008 Aug  1 09:34 Chinook_Sqlite.sqlite
-rw-r--r-- 1 kwaku 197609 5415936 Aug  1 09:34 flights.db
drwxr-xr-x 1 kwaku 197609       0 Aug  1 09:34 img
-rw-r--r-- 1 kwaku 197609   23081 Aug  1 12:33 sql-to-pandas.ipynb
-rw-r--r-- 1 kwaku 197609  331930 Aug  1 09:34 sql-to-pandas.slides.html
-rw-r--r-- 1 kwaku 197609      72 Aug  1 12:33 Try SQL.ipynb

## Loading the Database

In [6]:
# Create the connection
linking_db = sqlite3.connect('flights.db')

Once we have a Connection object, we can then create a Cursor object. Cursors allow us to execute SQL queries against a database:

In [7]:
cur = linking_db.cursor()

### Use sqlite_master to find all the tables in the schema
#### Get the schema of a database from a db in sqlite

### Once we have a Cursor object, we can use it to execute a query against the database with the aptly named ### execute method. The below code will fetch the first 5 rows from the airlines table:

In [9]:
cur.execute("SELECT name FROM sqlite_master WHERE type= 'table'")

print (cur.fetchall())

[('airports',), ('airlines',), ('routes',)]

##### the flight database has 3 data sets

In [14]:
# we are going to look into the Airports database. and use fetchall to see the info mation in it
##cur.execute("select * from airlines limit 5;")

cur.execute("SELECT * FROM airports limit 5;")
results = cur.fetchall()
print(results)

[(0, '1', 'Goroka', 'Goroka', 'Papua New Guinea', 'GKA', 'AYGA', '-6.081689', '145.391881', '5282', '10', 'U', 'Pacific/Port_Moresby'), (1, '2', 'Madang', 'Madang', 'Papua New Guinea', 'MAG', 'AYMD', '-5.207083', '145.7887', '20', '10', 'U', 'Pacific/Port_Moresby'), (2, '3', 'Mount Hagen', 'Mount Hagen', 'Papua New Guinea', 'HGU', 'AYMH', '-5.826789', '144.295861', '5388', '10', 'U', 'Pacific/Port_Moresby'), (3, '4', 'Nadzab', 'Nadzab', 'Papua New Guinea', 'LAE', 'AYNZ', '-6.569828', '146.726242', '239', '10', 'U', 'Pacific/Port_Moresby'), (4, '5', 'Port Moresby Jacksons Intl', 'Port Moresby', 'Papua New Guinea', 'POM', 'AYPY', '-9.443383', '147.22005', '146', '10', 'U', 'Pacific/Port_Moresby')]

In [18]:
cur.execute("SELECT * FROM airports;").fetchone()
## this returns row information on the airport data

(0,
 '1',
 'Goroka',
 'Goroka',
 'Papua New Guinea',
 'GKA',
 'AYGA',
 '-6.081689',
 '145.391881',
 '5282',
 '10',
 'U',
 'Pacific/Port_Moresby')

In [22]:
cur.execute("SELECT * FROM airports;").fetchmany(2)

[(0,
  '1',
  'Goroka',
  'Goroka',
  'Papua New Guinea',
  'GKA',
  'AYGA',
  '-6.081689',
  '145.391881',
  '5282',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (1,
  '2',
  'Madang',
  'Madang',
  'Papua New Guinea',
  'MAG',
  'AYMD',
  '-5.207083',
  '145.7887',
  '20',
  '10',
  'U',
  'Pacific/Port_Moresby')]

In [20]:
cur.description
## gives out the columns

(('index', None, None, None, None, None, None),
 ('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('code', None, None, None, None, None, None),
 ('icao', None, None, None, None, None, None),
 ('latitude', None, None, None, None, None, None),
 ('longitude', None, None, None, None, None, None),
 ('altitude', None, None, None, None, None, None),
 ('offset', None, None, None, None, None, None),
 ('dst', None, None, None, None, None, None),
 ('timezone', None, None, None, None, None, None))

In [23]:
# we can also use the PRAGMA for the columns too

In [24]:
cur.execute("PRAGMA table_info(airports)")
info = cur.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'city', 'TEXT', 0, None, 0)
(4, 'country', 'TEXT', 0, None, 0)
(5, 'code', 'TEXT', 0, None, 0)
(6, 'icao', 'TEXT', 0, None, 0)
(7, 'latitude', 'TEXT', 0, None, 0)
(8, 'longitude', 'TEXT', 0, None, 0)
(9, 'altitude', 'TEXT', 0, None, 0)
(10, 'offset', 'TEXT', 0, None, 0)
(11, 'dst', 'TEXT', 0, None, 0)
(12, 'timezone', 'TEXT', 0, None, 0)

## Basic SQL commands

Construct SQL queries
Use JOIN to merge tables along logical columns
Grouping Data with SQL

Select only active airlines in the UK from the airlines table

In [42]:
cur.execute("""SELECT name FROM airports WHERE country = 'United Kingdom'""").fetchall()

[('Belfast Intl',),
 ('St Angelo',),
 ('Belfast City',),
 ('City of Derry',),
 ('Birmingham',),
 ('Coventry',),
 ('Leicester',),
 ('Gloucestershire',),
 ('Wolverhampton',),
 ('Kemble',),
 ('Turweston',),
 ('Wellesbourne Mountford',),
 ('Manchester',),
 ('Manchester Woodford',),
 ('Chivenor',),
 ('St Mawgan',),
 ('Lyneham',),
 ('Boscombe Down',),
 ('Culdrose',),
 ('St Athan',),
 ('Yeovilton',),
 ('Haverfordwest',),
 ('Cardiff',),
 ('Swansea',),
 ('Bristol',),
 ('Liverpool',),
 ('Luton',),
 ('Plymouth',),
 ('Bournemouth',),
 ('Southampton',),
 ('Lasham',),
 ('Shoreham',),
 ('Biggin Hill',),
 ('Gatwick',),
 ('City',),
 ('Farnborough',),
 ('Chalgrove',),
 ('Blackbushe',),
 ('Heathrow',),
 ('Southend',),
 ('Lydd',),
 ('Manston',),
 ('Brough',),
 ('Carlisle',),
 ('Gamston',),
 ('Blackpool',),
 ('Humberside',),
 ('Walney Island',),
 ('Leeds Bradford',),
 ('Warton',),
 ('Hawarden',),
 ('Newcastle',),
 ('Durham Tees Valley Airport',),
 ('Nottingham East Midlands',),
 ('Llanbedr',),
 ('Ternhill',),
 ('Shawbury',),
 ('Woodvale',),
 ('Kirkwall',),
 ('Sumburgh',),
 ('Wick',),
 ('Dyce',),
 ('Inverness',),
 ('Glasgow',),
 ('Edinburgh',),
 ('Islay',),
 ('Prestwick',),
 ('Benbecula',),
 ('Scatsta',),
 ('Dundee',),
 ('Stornoway',),
 ('Tiree',),
 ('Leuchars',),
 ('Lossiemouth',),
 ('Cambridge',),
 ('Conington',),
 ('Norwich',),
 ('Stansted',),
 ('North Weald',),
 ('Sheffield City',),
 ('Cranfield',),
 ('Exeter',),
 ('Bristol Filton',),
 ('Kidlington',),
 ('Benson',),
 ('Lakenheath',),
 ('Mildenhall',),
 ('Wattisham',),
 ('Wyton',),
 ('Fairford',),
 ('Brize Norton',),
 ('Odiham',),
 ('Cosford',),
 ('Northolt',),
 ('Coningsby',),
 ('Dishforth',),
 ('Leeming',),
 ('Church Fenton',),
 ('Honington',),
 ('Cottesmore',),
 ('Scampton',),
 ('Wittering',),
 ('Linton On Ouse',),
 ('Waddington',),
 ('Topcliffe',),
 ('Cranwell',),
 ('Barkston Heath',),
 ('Marham',),
 ('Ashford',),
 ('RNAS WATTON',),
 ('ISLES OF SCILLY',),
 ('Papa Stour Airport',),
 ('Outer Skerries Airport',),
 ('Foula Airport',),
 ('Barra Airport',),
 ('Anglesey Airport',),
 ('Penzance Heliport',),
 ("Land's End / St. Just Airport",),
 ('Westray Airport',),
 ('Lerwick / Tingwall Airport',),
 ('Sanday Airport',),
 ('Stronsay Airport',),
 ('Papa Westray Airport',),
 ('North Ronaldsay Airport',),
 ('Fair Isle Airport',),
 ('Eday Airport',),
 ('Campbeltown Airport',),
 ('Robin Hood Doncaster Sheffield Airport',),
 ('Nottingham Airport',),
 ('Unst Airport',),
 ('Oban Airport',),
 ('Sandown',),
 ('Fort William Heliport',),
 ('Portsmouth Airport',),
 ('Aberdeen Railway Station',),
 ('Glasgow Railway Station',),
 ('Edinburgh Waverly Station',),
 ('Newcastle Railway Station',),
 ('Leeds Railway Station',),
 ('Manchester Picadilly Station',),
 ('Liverpool Railway Station',),
 ('London Euston Railway Station',),
 ('Colonsay Airport',),
 ('Coll Airport',),
 ('Tresco Heliport',),
 ('Paddington Station',),
 ('Glasgow Buchanan Bus Station',),
 ('London Victoria Bus Station',),
 ('London St Pancras',),
 ('Wideawake Field',),
 ('London Heliport',),
 ('Southampton Cruise Terminal',),
 ('White Waltham Airfield',),
 ('Booker',),
 ('Bembridge',),
 ('Hatfield',),
 ('St Pancras Railway Station',),
 ('Oldbury',),
 ('Shaftesbury-Compton Abbas Aerodrome',),
 ('Ferry Port',),
 ('Glasgow City Heliport',),
 ('Scatsta Airport',),
 ('North Sea',),
 ('North Sea',),
 ('North Sea',),
 ('North Sea',),
 ('North Sea',),
 ('North Sea',),
 ('North Sea',),
 ('North Sea',),
 ('North Sea',),
 ('North Sea',),
 ('North Sea',),
 ('North Sea',),
 ('North Sea',),
 ('North Sea',),
 ('North Sea',),
 ('All Airports',),
 ('Perth Scone Airport',),
 ('Caernarfon Airport',),
 ('London - Kings Cross',),
 ('Stevenage Railway Station',),
 ('Peterborough Railway Station',),
 ('Whittlesford Parkway Rail Station',),
 ('Oban Rail Station',),
 ('Duxford Aerodrome',),
 ('Woking',),
 ('Rochester Airport',),
 ('Euston Station',),
 ('Rothera Research Station',),
 ('Ellough',),
 ('Brawdy RAF Airport',),
 ('Redhill Aerodrome',),
 ('Victoria Station',),
 ('Enstone',),
 ('North Sea',),
 ('Port of Belfast',),
 ('Stranraer Ferry Port',),
 ('Stoke',),
 ('Elstree',),
 ('Sandtoft Airfield',),
 ('Bourne Park',),
 ('Newhaven Ferry Port',),
 ('Aberdeen Harbour',),
 ('Lerwick Harbour',),
 ('Queen Street Station',),
 ('Waterloo International',),
 ('Central Station',),
 ('Euston Station',),
 ('Waterloo International',)]

In [40]:
cur.execute("""SELECT distinct country FROM airports""").fetchall()

[('Papua New Guinea',),
 ('Greenland',),
 ('Iceland',),
 ('Canada',),
 ('Algeria',),
 ('Benin',),
 ('Burkina Faso',),
 ('Ghana',),
 ("Cote d'Ivoire",),
 ('Nigeria',),
 ('Niger',),
 ('Tunisia',),
 ('Togo',),
 ('Belgium',),
 ('Germany',),
 ('United States',),
 ('Estonia',),
 ('Finland',),
 ('United Kingdom',),
 ('Guernsey',),
 ('Jersey',),
 ('Isle of Man',),
 ('Falkland Islands',),
 ('Netherlands',),
 ('Ireland',),
 ('Denmark',),
 ('Faroe Islands',),
 ('Luxembourg',),
 ('Norway',),
 ('Poland',),
 ('Sweden',),
 ('South Africa',),
 ('Botswana',),
 ('Congo (Brazzaville)',),
 ('Congo (Kinshasa)',),
 ('Swaziland',),
 ('Central African Republic',),
 ('Equatorial Guinea',),
 ('Saint Helena',),
 ('Mauritius',),
 ('British Indian Ocean Territory',),
 ('Cameroon',),
 ('Zambia',),
 ('Comoros',),
 ('Mayotte',),
 ('Reunion',),
 ('Madagascar',),
 ('Angola',),
 ('Puerto Rico',),
 ('Gabon',),
 ('Sao Tome and Principe',),
 ('Mozambique',),
 ('Seychelles',),
 ('Chad',),
 ('Zimbabwe',),
 ('Malawi',),
 ('Lesotho',),
 ('Mali',),
 ('Gambia',),
 ('Spain',),
 ('Sierra Leone',),
 ('Guinea-Bissau',),
 ('Liberia',),
 ('Morocco',),
 ('Senegal',),
 ('Mauritania',),
 ('Guinea',),
 ('Cape Verde',),
 ('Ethiopia',),
 ('Maldives',),
 ('Burundi',),
 ('Somalia',),
 ('Egypt',),
 ('Kenya',),
 ('Libya',),
 ('Rwanda',),
 ('Sudan',),
 ('South Sudan',),
 ('Tanzania',),
 ('Uganda',),
 ('Albania',),
 ('Bulgaria',),
 ('Cyprus',),
 ('Croatia',),
 ('Greece',),
 ('France',),
 ('Saint Pierre and Miquelon',),
 ('Hungary',),
 ('Italy',),
 ('Slovenia',),
 ('Czech Republic',),
 ('Israel',),
 ('Malta',),
 ('Austria',),
 ('Portugal',),
 ('Bosnia and Herzegovina',),
 ('Romania',),
 ('Switzerland',),
 ('Turkey',),
 ('Moldova',),
 ('Macedonia',),
 ('Gibraltar',),
 ('Serbia',),
 ('Montenegro',),
 ('Slovakia',),
 ('Turks and Caicos Islands',),
 ('Dominican Republic',),
 ('Guatemala',),
 ('Honduras',),
 ('Jamaica',),
 ('Mexico',),
 ('Nicaragua',),
 ('Panama',),
 ('Costa Rica',),
 ('El Salvador',),
 ('Haiti',),
 ('Cuba',),
 ('Cayman Islands',),
 ('Bahamas',),
 ('Belize',),
 ('Cook Islands',),
 ('Fiji',),
 ('Tonga',),
 ('Kiribati',),
 ('Australia',),
 ('Wallis and Futuna',),
 ('Samoa',),
 ('American Samoa',),
 ('French Polynesia',),
 ('Vanuatu',),
 ('New Caledonia',),
 ('New Zealand',),
 ('Antarctica',),
 ('Afghanistan',),
 ('Bahrain',),
 ('Saudi Arabia',),
 ('Iran',),
 ('Argentina',),
 ('Jordan',),
 ('West Bank',),
 ('Kuwait',),
 ('Lebanon',),
 ('United Arab Emirates',),
 ('Oman',),
 ('Pakistan',),
 ('Iraq',),
 ('Syria',),
 ('Qatar',),
 ('Northern Mariana Islands',),
 ('Guam',),
 ('Marshall Islands',),
 ('Midway Islands',),
 ('Micronesia',),
 ('Palau',),
 ('Taiwan',),
 ('Japan',),
 ('South Korea',),
 ('Philippines',),
 ('Turkmenistan',),
 ('Brazil',),
 ('Chile',),
 ('Ecuador',),
 ('Paraguay',),
 ('Colombia',),
 ('Bolivia',),
 ('Suriname',),
 ('French Guiana',),
 ('Peru',),
 ('Uruguay',),
 ('Venezuela',),
 ('Guyana',),
 ('Antigua and Barbuda',),
 ('Barbados',),
 ('Dominica',),
 ('Martinique',),
 ('Guadeloupe',),
 ('Grenada',),
 ('Virgin Islands',),
 ('Saint Kitts and Nevis',),
 ('Saint Lucia',),
 ('Aruba',),
 ('Netherlands Antilles',),
 ('Anguilla',),
 ('Trinidad and Tobago',),
 ('British Virgin Islands',),
 ('Saint Vincent and the Grenadines',),
 ('Kazakhstan',),
 ('Kyrgyzstan',),
 ('Azerbaijan',),
 ('Russia',),
 ('Ukraine',),
 ('Belarus',),
 ('Tajikistan',),
 ('Uzbekistan',),
 ('India',),
 ('Sri Lanka',),
 ('Cambodia',),
 ('Bangladesh',),
 ('Hong Kong',),
 ('Laos',),
 ('Macau',),
 ('Nepal',),
 ('Bhutan',),
 ('Thailand',),
 ('Indonesia',),
 ('Vietnam',),
 ('Burma',),
 ('Malaysia',),
 ('Brunei',),
 ('East Timor',),
 ('Singapore',),
 ('Christmas Island',),
 ('Norfolk Island',),
 ('China',),
 ('Korea',),
 ('Mongolia',),
 ('Latvia',),
 ('Lithuania',),
 ('Armenia',),
 ('Eritrea',),
 ('Palestine',),
 ('Yemen',),
 ('Georgia',),
 ('Bermuda',),
 ('Solomon Islands',),
 ('Nauru',),
 ('Tuvalu',),
 ('Namibia',),
 ('Djibouti',),
 ('Montserrat',),
 ('Monaco',),
 ('Johnston Atoll',),
 ('Niue',),
 ('Western Sahara',),
 ('Cocos (Keeling) Islands',),
 ('South Georgia and the Islands',),
 ('Myanmar',),
 ('Svalbard',),
 ('North Korea',),
 ('Wake Island',)]

#### Task Write a query that will join the latitude and longitude data from the airports table to the information on the routes table

In [43]:
cur.execute("SELECT * FROM routes limit 5;")
results = cur.fetchall()
print(results)

[(0, '2B', '410', 'AER', '2965', 'KZN', '2990', None, '0', 'CR2'), (1, '2B', '410', 'ASF', '2966', 'KZN', '2990', None, '0', 'CR2'), (2, '2B', '410', 'ASF', '2966', 'MRV', '2962', None, '0', 'CR2'), (3, '2B', '410', 'CEK', '2968', 'KZN', '2990', None, '0', 'CR2'), (4, '2B', '410', 'CEK', '2968', 'OVB', '4078', None, '0', 'CR2')]

In [ ]:
SELECT airports,
       routest2.like
FROM sadavath.users t1
INNER JOIN sadavath.events t2
  ON t1.id = t2.user_id

In [ ]:
longitude', 'TEXT', 0, None, 0)
(9, 'altitude', 'TEXT', 0, Non